.about {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
}
.about p:nth-child(1) {
    text-align: center;
    position: relative;
    font-size: 3.3rem;
    font-weight: 700;
    color: rgba(255,255,255,.9);
    left: 43%;
    margin-bottom: 1.5rem;
    transform: translate(-50%,0);
}
.about p:nth-of-type(3) {
    color: rgba(255,255,255,.8);
}

.about p {
    position: relative;
    color: rgba(255,255,255,.85);
    font-size: 1.3rem;
    top: 4rem;
    left: calc(43% + 4rem);
    max-width: 50%;
    margin-bottom: 2rem;    
    transform: translate(-50%, -50%);
}